body {
  background: #eee;
  min-height: 100vh;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  padding: 30px;
}

/* You can add global styles to this file, and also import other style files */